extends layout
// importer un fichier js
script(type='text/javascript' src='script/bootbox.min.js')
//- Panel mixin
mixin panel(heading, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    div( class=["panel", "panel-" + style] )
        .panel-heading= heading
        .panel-body
            block
    
.row
  .col-md-4.col-sm-6.col-xs-12
  .col-md-4.col-sm-6.col-xs-12
  .col-md-4.col-sm-6.col-xs-12
    
    
block content
  script.
    var something = () => {
    
      var jsonProject = { 
        titre : "Test Projet 1",
        chatID : 1234145437,
        projectDescription : "Projet de test",
        ganttID : 123456789,
        participants : [],
        ressources : []
      }
    
      var http = new XMLHttpRequest();
      http.open("POST", "projects/create", true);
      
      //Send the proper header information along with the request
      http.setRequestHeader("Content-type", "application/json");
      
      http.send(JSON.stringify(jsonProject));
    }
    var displayInput = () => {
      bootbox.prompt("This is the default prompt!", function(result){ console.log(result); });
    }
  h1 Retrouver la liste des projets ou créer le votre 
  h2 Cliquez sur un projet pour avoir des informations et les rejoindres
  button.btn.btn-primary(onclick='something()') Nouveau projet
  br
  br
  if (projectslist)
    each key in projectslist   
        div.col-xs-12.col-sm-4
            +panel(key.titre ,"primary") key.description
               a.btn.btn-success(onclick="displayInput()") Accès Gantt
