extends layout
script(type='text/javascript' src='answers.js')
  
block content
  script.
    var something = () => {
      
    }
  h1 Retrouver la liste des projets ou créer le votre 
  h2 Cliquez sur un projet pour avoir des informations et les rejoindres
  button.btn.btn-primary(onclick='something()') Nouveau projet
  if (userslist)
    each key in userslist   
      p !{key.name} !{key.username} 